/* Reset Styles */
h1 {
  font-family: 'Inclusive Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}



/* Header Styles */

header {
    background-color: #282689;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: -8px;

}
   
}

.headeraH1 {
    margin: 0;
   
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}


/* Navigation Styles */
nav ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: -8px;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #505050;  /* Darker shade for hover */
}

nav .point {
  color: #395fe9;
}


/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.centered-banner {
    padding: 30px;
    max-width: 80%;
    height: auto;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.services {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-column img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.service-column h3 {
    margin-bottom: 5px;
}

/*Gallery slide show*/

.gallery-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.gallery-container img {
  width: 24%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}


.slides{
    width: 500%;
    height: 500px;
    display: flex;
}


.slides input{
    display: none;
}


.slide{
    width: 20%;
    transition: 2s;
}


.slide img{
    width: 800px;
    height: 500px;
}


.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}


.manual-btn{
    border: 2px solid #00FFFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:not(:last-child){
    margin-right: 40px;
}


.manual-btn:hover{
    background: #00FFFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}


#radio2:checked ~.second{
    margin-left: 0;
}


#radio3:checked ~.third{
    margin-left: -20%;
}


#radio4:checked ~.fourth{
    margin-left: -30%;
}


#radio5:checked ~.fifth{
    margin-left: -40%;
}


#radio6:checked ~.sixth{
    margin-left: -50%;
}


#radio7:checked ~.seventh{
    margin-left: -60%;
}


#radio8:checked ~.eighth{
    margin-left: -70%;
}


.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #00FFFF;
    padding: 5%;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #00FFFF;
}

#radio2:checked ~.navigation-auto.auto-btn2{
    background: #00FFFF;
}

#radio3:checked ~.navigation-auto.auto-btn3{
    background: #00FFFF;
}

#radio4:checked ~.navigation-auto.auto-btn4{
    background: #00FFFF;
}

#radio5:checked ~.navigation-auto.auto-btn5{
    background: #00FFFF;
}

#radio6:checked ~.navigation-auto.auto-btn6{
    background: #00FFFF;
}

#radio7:checked ~.navigation-auto.auto-btn7{
    background: #00FFFF;
}

#radio8:checked ~.navigation-auto.auto-btn8{
    background: #00FFFF;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .service-column {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .service-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Call to Action Styles */
h4 {
    display: block;
    font-size: 27px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline dashed;
}

.cta-container {
    text-align: center;
    padding: 25px;
    background-color: #282689;
    margin-top: 40px;
    border: 1px solid #000000;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    margin-right: -9px;
    margin-left: -12px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 800;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #138b39;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: -8px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-rigt: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smoot transition for over effect */
}

footer a:hover {
    color: #b3b3b3;  /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}
